{% extends "base.html" %}

{% load static %}

{% block title %}
    Book Details
{% endblock title %}

{% block search %}

{% endblock search %}

{% block sidenav %}
    {% for item in item_list %}
            <li><a style="margin:20px; color:#edede9; font-size:1.15em;" href="{{ item.link }}"> {{item.item}} </a></li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}

<div class="card mb-3 border-dark" style="border-width:3px; border-color:#333D29; width:50%; margin: 0 auto; background-color:#A4AC86;">
  <div class="row no-gutters">
    <div class="col-md-4" style="display: flex; justify-content:center; align-items:center;">
      <img src="{% static book.pic_path %}" style="margin-left:10px;" class="card-img"/>
    </div>
    <div class="col-md-8" >
      <div class="card-body" >
        <h5 style="text-decoration:underline;color:#333D29;" class="card-title">{{book.name}}</h5>

          <span style="color:#333D29; class="card-text"> <small>{{book.web}}</small></span>
          <br><span style="color:#333D29;" class="card-text"> <small>${{book.price}}</small></span>

          <br><span class="card-text"><small style="color:#6f5e53;" >Book Owner: {{book.username}} </small></span>
          <br><span class="card-text"><small style="color:#6f5e53;" >Created: {{book.publishdate}}</small></span>
      </div>
    </div>
  </div>
</div>


<!-- Comment Form -->
<div class="card mb-3" style="width:50%; margin: 0 auto; background-color:#414833;">
    <div class="" style="">
        {% if new_comment %}
        <div class="" style="">
            <h6 style="font-weight:bold; width:85%; margin: 0 auto; color:#C2C5AA; margin-top:10px; margin-bottom:5px;">Comment published.</h6>
        </div>
        {% else %}
        <h4 style="font-weight:bold; width:85%; margin: 0 auto;
         color:#C2C5AA; margin-top:10px; margin-bottom:10px;">Leave a comment!</h4>
        <form method="post" style=" margin-bottom:15px;">
          {{ comment_form }}
          {% csrf_token %}
            <div style="text-align:center">
          <button type="submit" class="justify-content-center" style="background-color:#333D29; color:#C2C5AA;
          font-size:1em; width:30%; letter-spacing:1px;">Submit</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>

<!-- Comment Section -->
<div class="card mb-3" style="width:50%; margin: 0 auto; background-color:#414833;">
    {% if comments %}
    <div>
        <h4 style="text-decoration:underline; font-weight:bold; width:85%; margin: 0 auto;
         color:#C2C5AA; margin-top:10px; margin-bottom:10px;">{{ comments.count }} comments</h4>

        {% for comment in comments %}
        <div style="width:85%; margin: 0 auto; background-color:#A4AC86;">
          <div style="margin-left:10px; padding-top:5px;">
            <span class="font-weight-bold">
            {{ comment.username }}
            <span style="color:#dad7cd; font-size:0.75em;">
              {{ comment.created_on }}
            </span>
          </span>
              <span style="padding-top:10px; margin-left:10px;"> {{ comment.body | linebreaks }} </span>
          </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h6 style="font-weight:bold; width:85%; margin: 0 auto; color:#C2C5AA; margin-top:10px; margin-bottom:5px;">No comments yet...</h6>
    {% endif %}
</div>

<div style="margin-bottom:20px;">
 &nbsp;
</div>



<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

{% endblock content %}